!!!
%html
  %head
    %title
      &= @title || settings.pagetitle
    %link{ :rel => 'stylesheet', :href => '/stylesheet.css' }
    - if @active_theme
      %link{ :rel => 'stylesheet', :href => "/ultraviolet/css/#{@active_theme}.css" }
    %script{ :src => '/jquery.min.js' }
    %script{ :src => '/jquery.noisy.min.js' }
    :javascript
      jQuery(function(){
        $('#toggle-lines').click(function(event) {
          $('.line-numbers').toggle();
          event.preventDefault();
        });
        $('#switch-theme select').change(function() {
          $('#switch-theme').submit();
        });
        $('#switch-theme input[type="submit"]').hide();
        $('body').noisy();
      });
  %body
    #wrapper.container_12
      - if flash[:error]
        #error.grid_12
          = flash[:error]
      %header.grid_12
        %h1
          %a{ :href => '/' } #{settings.pagetitle}
      = yield
  %a{ :href => 'https://github.com/jessor/toopaste', :id => 'github' }
    %img{ :src => '/fork_me_on_github.png' }
