#sidebar.grid_3
  %h2 Recent Snippets
  - if @snippets
    %ul
      - @snippets.each do |snippet|
        %li
          %a{ :href => snippet.random_id, :title => snippet.title }
            & #{snippet.title}
            - if LANGUAGES.has_key? snippet.language
              & (#{LANGUAGES[snippet.language]})
#content.grid_9
  .snippet
    %h2 Paste a new code snippet
    %form{ :action => '/', :method => 'POST' }
      .left
        %label{ :for => 'snippet_title' } Title:
        %input{ :type => 'text', :name => 'snippet_title', :id => 'snippet_title' }
        %label{ :for => 'snippet_author' } Author:
        %input{ :type => 'text', :name => 'snippet_author', :value => @author, :id => 'snippet_author' }
      .right
        %label{ :for => 'snippet_delete_at' } Delete in
        %input{ :type => 'text', :name => 'snippet_delete_at', :id => 'snippet_delete_at' }
        %select{ :name => 'snippet_delete_at_unit', :id => 'snippet_delete_at_unit' }
          %option{ :value => 'minutes'} Minutes
          %option{ :value => 'hours'} Hours
          %option{ :value => 'days'} Days
        %label{ :for => 'snippet_language' } Language:
        %select{ :name => 'snippet_language', :id => 'snippet_language' }
          / first the list of prefered languages
          - @preferred_languages.each do |preferred|
            %option{ :value => preferred} #{LANGUAGES[preferred]}
          %option ---------------------------------------------------
          - LANGUAGES.keys.sort.each do |language|
            - if not @preferred_languages.include? language
              %option{ :value => language } #{LANGUAGES[language]}
      %br
      %label{ :for => 'snippet_body' } Content:
      %textarea{ :name => 'snippet_body', :id => 'snippet_body', :rows => 20 }
      %br
      %input{ :type => 'checkbox', :name => 'snippet_visibility', :value => 'private' }
      Don't list
      - if settings.announce_irc[:active]
        %input{ :type => 'checkbox', :name => 'announce_irc', :value => '1' }
        & Announce in #{settings.announce_irc[:channel]}
        %br
      %input{ :type => 'submit', :value => 'Save' }
