.snippet
  %h2
    = h @snippet.title
  #content{ :class => 'sbody' }<
    %pre
      - if @snippet.language
        = ":::#{h @snippet.language.downcase}"
      - else
        = ":::text"
      ~ @snippet.body
  .sdate
    Created on #{@snippet.created_at.strftime("%D at %T %Z")}
  %a{ :href => '/' } Create new paste

